.input-container{
    width: 70%;
}

.form {
    width: 700px;
    background-color: #e94057;
}

.detect-button{
    background-color: #8a2387;
    width: 30%;
}

.discription-text{
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 640px) {
    
    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
    }
    
    .input-container{
        width: 100% !important;
    }
    
    .detect-button{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
        width: 100% !important;
    }
    
}