body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(89deg,   #8a2387, #e94057, #f27121);
}

code {
  font-family: "Courier New", monospace;
}

button {
  cursor: pointer;
}